src/main/mule/gitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b7ac6e1-cfa9-4b2d-b4f4-387d99b691d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoFlow" doc:id="9db97c82-f3d7-4c10-b374-5aa651b4ba25" >
		<http:listener doc:name="Listener" doc:id="ad3e2705-b44a-4ec0-b9fb-7961636ad774" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c287323b-d31c-41a5-8f80-e3de2af9648a" />
		<logger level="INFO" doc:name="Logger" doc:id="3682e2e9-1097-4f8c-9945-5cfda8ffcad5" message="logger-1 hello bhanu your are in github"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3b77b7d-7ceb-48b2-8a5f-9d8b80504dcc" message="logger-2 okk thanks"/>
	</flow>
</mule>
